.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
 
  border-radius: 12px;
  
}

.about-container h2 {
  color: #000000;
  margin-bottom: 1rem;
}

.about-container h3 {
  margin-top: 1.5rem;
  color: #000000;
}

.about-container p {
  color: #fff9f9;
  line-height: 1.6;
}

.about-container ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.about-container li {
  margin-bottom: 0.5rem;
}
